In [2]:
#ЗАДАЧА 2.2.8 EZ PANDAS
import pandas as pd
n = int(input())
df1 = pd.DataFrame()
for i in range(n):
    s = input().split()
    df1.insert(i, s[0], s[1:])
print(df1)
a = input().split()

3
module_name Pandas SciKitLearn SeaBorn NumPy
version 1.3.5 1.0 0.11.2 1.23.dev0
python 3.7 3.7 3.7 3.7
   module_name    version python
0       Pandas      1.3.5    3.7
1  SciKitLearn        1.0    3.7
2      SeaBorn     0.11.2    3.7
3        NumPy  1.23.dev0    3.7
Pandas 0.11.2 3.7

In [14]:
d = dict()
for i in range(df1.shape[0]):
    for j in range(n):
        if df1.iloc[i][j] in a:
            d[f'{df1.iloc[i][j]} - ({i}, {df1.columns[j]})'] = [df1.columns[j], df1.iloc[i][j], i]

In [15]:
d

{'Pandas - (0, module_name)': ['module_name', 'Pandas', 0],
 '3.7 - (0, python)': ['python', '3.7', 0],
 '3.7 - (1, python)': ['python', '3.7', 1],
 '0.11.2 - (2, version)': ['version', '0.11.2', 2],
 '3.7 - (2, python)': ['python', '3.7', 2],
 '3.7 - (3, python)': ['python', '3.7', 3]}

In [18]:
for value in sorted(d.values(), key=lambda para: (para[1][0], para[1][1], para[1][2]), reverse=True):
    print(f'{value[1]} - ({value[2]}, {value[0]})')

Pandas - (0, module_name)
3.7 - (0, python)
3.7 - (1, python)
3.7 - (2, python)
3.7 - (3, python)
0.11.2 - (2, version)

In [12]:
#через список
s = []
for i in range(df1.shape[0]):
    for j in range(n):
        if df1.iloc[i][j] in a:
            z = [df1.iloc[i][j], i, df1.columns[j], j]
            s += [z]

In [13]:
s

[['Napoleon', 0, 'cake_name', 0],
 ['1250', 0, 'price_in_rubles', 2],
 ['1300', 2, 'weight_in_gramm', 1],
 ['1300', 2, 'price_in_rubles', 2]]

In [15]:
sort_list = sorted(s, key=lambda i: i[3])

In [16]:
sort_list

[['Napoleon', 0, 'cake_name', 0],
 ['1300', 2, 'weight_in_gramm', 1],
 ['1250', 0, 'price_in_rubles', 2],
 ['1300', 2, 'price_in_rubles', 2]]

In [18]:
from operator import itemgetter, attrgetter, methodcaller

In [38]:
sort_list_2 = sorted(sort_list, key=itemgetter(0),reverse=True)

In [39]:
sort_list_2

[['Napoleon', 0, 'cake_name', 0],
 ['1300', 2, 'weight_in_gramm', 1],
 ['1300', 2, 'price_in_rubles', 2],
 ['1250', 0, 'price_in_rubles', 2]]

In [1]:
#ВТОРОЙ ВАРИАНТ
import pandas as pd
n = int(input())
df1 = pd.DataFrame()
for i in range(n):
    s = input().split()
    df1.insert(i, s[0], s[1:])
print(df1)
a = input().split()

3
cake_name Napoleon RedVelvet HoneyCake Aida
weight_in_gramm 900 1200 1300 1000
price_in_rubles 1250 1400 1300 1000
   cake_name weight_in_gramm price_in_rubles
0   Napoleon             900            1250
1  RedVelvet            1200            1400
2  HoneyCake            1300            1300
3       Aida            1000            1000
Napoleon 1300 1250

In [2]:
#через список по столбцам
s = []
for j in range(n):
    for i in range(df1.shape[0]):    
        if df1.iloc[i][j] in a:
            z = [df1.iloc[i][j], i, df1.columns[j], j]
            s += [z]

In [3]:
s

[['Napoleon', 0, 'cake_name', 0],
 ['1300', 2, 'weight_in_gramm', 1],
 ['1250', 0, 'price_in_rubles', 2],
 ['1300', 2, 'price_in_rubles', 2]]

In [4]:
dff = pd.DataFrame(s)

In [5]:
dff

          0  1                2  3
0  Napoleon  0        cake_name  0
1      1300  2  weight_in_gramm  1
2      1250  0  price_in_rubles  2
3      1300  2  price_in_rubles  2

In [29]:
dff = dff.sort_values([3,0], ascending=[True, False])

In [30]:
spisok = dff.values.tolist()

In [31]:
spisok

[['Napoleon', 0, 'cake_name', 0],
 ['1300', 2, 'weight_in_gramm', 1],
 ['1300', 2, 'price_in_rubles', 2],
 ['1250', 0, 'price_in_rubles', 2]]

In [32]:
for i in spisok:    
    print(f'{i[0]} - ({i[1]}, {i[2]})')

Napoleon - (0, cake_name)
1300 - (2, weight_in_gramm)
1300 - (2, price_in_rubles)
1250 - (0, price_in_rubles)