In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, GridSearchCV

titanic_data = pd.read_csv('https://stepik.org/media/attachments/course/4852/titanic.csv')
X = titanic_data.drop(['PassengerId', 'Survived', 'Name', 'Ticket', 'Cabin'], axis=1)
y = titanic_data.Survived
X = pd.get_dummies(X)
X = X.fillna({'Age': X.Age.median()})
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

In [3]:
clf_rf = RandomForestClassifier()

In [5]:
parametrs = {'n_estimators': [10,20,30], 'max_depth': [2,5,7,10]}

In [6]:
grid_search_cv_clf = GridSearchCV(clf_rf, parametrs, cv=5)

In [7]:
grid_search_cv_clf.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestClassifier(),
             param_grid={'max_depth': [2, 5, 7, 10],
                         'n_estimators': [10, 20, 30]})

In [9]:
grid_search_cv_clf.best_params_

{'max_depth': 5, 'n_estimators': 30}

In [10]:
best_clf = grid_search_cv_clf.best_estimator_

In [11]:
best_clf.score(X_test, y_test)

0.8

In [13]:
feature_importances = best_clf.feature_importances_

In [14]:
feature_importances_df = pd.DataFrame({'features': list(X_train),
                                      'feature_importances': feature_importances}) #важные переменные

In [16]:
feature_importances_df.sort_values('feature_importances', ascending=False)

     features  feature_importances
5  Sex_female             0.272693
6    Sex_male             0.244628
0      Pclass             0.131558
4        Fare             0.127505
1         Age             0.099729
2       SibSp             0.040775
3       Parch             0.035125
9  Embarked_S             0.022414
7  Embarked_C             0.018132
8  Embarked_Q             0.007440